@page "/Scheduler"
@attribute [Authorize(Roles = "Administrator,Scheduler")]
@using DBTest.Components.Views
@using InspectionShare.Helpers

<h1>行事曆</h1>

<SchedulerView />
<div style="height:100px"></div>