@page "/SchedulerBlock"
@attribute [Authorize(Roles = "Administrator,SchedulerBlock")]
@using DBTest.Components.Views
@using InspectionShare.Helpers

<h1>行事曆(多人)</h1>

<SchedulerView />
<div style="height:100px"></div>