@inherits LayoutComponentBase
@using Syncfusion.Blazor.Navigations

@inject NavigationManager NavigationManager

@using InspectionBlazor.Services
@using Database.Models.Models
@using InspectionBlazor.Helpers
@using InspectionShare.Helpers
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authorization
@inject MenuListService menuListService
@inject PersonService personService
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @if (isLogin)
            {
                <div>@UserName，您好，歡迎使用</div>
            }
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {

    public bool isLogin { get; set; }

    public string UserName { get; set; }

    protected override async Task OnInitializedAsync()
    {

        UserHelper userHelper = new UserHelper(AuthenticationStateProvider);
        (int UserId, string Account, string userName) = await userHelper.GetUserInformation2Async();

        UserName = userName;

        isLogin = !string.IsNullOrEmpty(UserName) ? true : false;

    }
}